<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<head>
<linc rel="stylesheet" href="static/css/style.css" type="text/css"/>
	<title>{%block title%}{%endblock%}</title>
<link rel="stylesheet" type="text/css" href="/static/CSS/head.css" />
<link rel="stylesheet" type="text/css" href="/static/CSS/calendar.css" />

<script type="text/javascript" src="/static/js/calendar.js"></script>
<script type="text/javascript" src="/static/js/head.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery_v1.7.2.js"></script>
</head>
{%load staticfiles%}
<body background="{%static "img/template-example-bg.gif"%}">
{% load url from future %}
<script>
function model(url){
    $.get( url, {}, function(data) {
        var model=data[0].model;
        $("#add_obj").html('');
        $("#add_obj").append("<tr><td style='position:relative' onclick=\"Form_valid('all')\" id='add_form'><fieldset id='form_save' hidden><legend align='left'>Новая запись</legend><img style='position:absolute;left:50%;top:40%;z-index:20;' hidden width='30' align='bottom' id='load' src='{%static 'img/process2.gif'%}'/><form name='total_form' class='form_save' method='post' action='/manage/add/"+model+"/' >{%csrf_token%}<div class='add_form'></div><div class='right'><input id='submit' onclick=\"form_save('"+model+"')\" type='submit' value='Сохранить'/\><input type='button' value='Отмена'/\ onclick=onblur_field('input_image','form_save')></div></form></fieldset><input id='input_image' type='image' src='{%static 'img/add.gif'%}' title='Новая запись' onclick=\"add_form('"+model+"');return false;\"></td></tr>");//'"model(\'{% url 'manage' %}json/'+index+'/\') ; return false;"'
        $("#table_obj").html('');
        var headers = data[0].fields;
        $("#table_obj").append('<tr id="header"></tr>');
        $("#header").append('<th>№</th>');
        $.each(headers, function(field_name, fields) { $("#header").append('<th>'+field_name+'</th>');});
        $.each(data, function(key, val) {
            $("#table_obj").append('<tr id="data'+val.pk+'"></tr>');
            $("#data"+val.pk).append('<td>'+val.pk+'</td>');
             $.each(val.fields, function(keys, value_list){
              $.each(value_list, function(k, v){
               $.each(v.names, function(fieldname, field){
                 var sfield
                 if (typeof field == 'string')
                     sfield=field.split(' ').join('_');
                 else
                     sfield=field;
                 var str_keys
                 if (typeof keys == 'string')
                     str_keys=keys.split(' ').join('_');
                 else
                     str_keys=keys;
                 var sfield_pk = sfield+"_"+val.pk;
                 $("#data"+val.pk).append("<td style='position:relative' width=150 onclick=Form_valid('"+v.type+"','"+str_keys+"','"+fieldname+"','"+val.pk+"','"+sfield_pk+"','input"+sfield_pk+"')><img hidden style='position:absolute;z-index:2;' id='load"+sfield_pk+"' src='{%static 'img/720-2.GIF'%}'/><div onclick=hidden_field('"+sfield_pk+"','input"+sfield_pk+"','"+fieldname+"','"+model+"','"+val.pk+"','"+v.type+"') id='"+sfield_pk+"'>"+field+"</div><form class='form' name='"+fieldname+val.pk+"' hidden id='input"+sfield_pk+"' method='post' action='/manage/save/"+model+"/"+fieldname+"/"+v.type+"/"+val.pk+"/' >{% csrf_token %}<div class='input"+sfield_pk+"'></div><div id='error-box' class='error-box"+v.type+fieldname+val.pk+"' style='display:none'>&nbsp;</div><input onclick=Form_submit('"+sfield_pk+"','input"+sfield_pk+"','"+fieldname+"','"+v.type+"','"+val.pk+"')  type=submit hidden></\form></td>");
                  });
            });
        });});});
        return false;
    }

$('body').on('mouseover','img#error_img,div#error-box,input#CharField,input#IntegerField,input#DateField', function(eventObject){
    data_css={'display':'block','z-index':'5','opacity': '0.8','font-size':'12px'}
    if(this.nodeName=='INPUT' && $(this).next().next().text()){
        $(this).next().next().css(data_css)
    }
    else if(this.nodeName=='IMG'){
        $(this).next().css(data_css);
    }
});

$('body').on('mouseout','img#error_img,div#error-box,input#CharField,input#IntegerField,input#DateField', function(eventObject){
    data_css={'display':'none','z-index':'2','opacity': '0.7','font-size':'10px'}
    if(this.nodeName=='INPUT' && $(this).next().next().text()){
        $(this).next().next().css(data_css)
    }
    else if(this.nodeName=='IMG'){
        $(this).next().css(data_css);
    }
});




$(document).ready(function(){
$.get('{% url 'manage' %}', function(data) {
  $.each(data, function(index, value){
    var anchorLink = '<li><a onclick="model(\'{% url 'manage' %}json/'+index+'/\') ; return false;" href="#">' + value + '</a></li></br>';
    $('#models').append(anchorLink);

});});
});

</script>

</br></br>

<table>
<tr>
<td id="models"></td>
<td id="objects"><table id='table_obj'></table></td>
</tr>
<tr>
<td></td>
<td><table id='add_obj'></table></td>
</tr>
</table>


</body>
</html>
